In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests
from time import sleep

In [3]:
#Connecting to the web driver

driver=webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [4]:
#opening the Naukri page on automated chrome browser

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
# Creating Empty list to store all the scrapped result
rank =[]
name =[]
artist =[]
upload_date=[]
views=[]

In [6]:
# Extracting Rank
try:
    rank_tags =driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank_tags:
        rank.append(i.text.split(".")[0])
except NoSuchElementException:
    rank.append('--')
except StaleElementReferenceException:
    rank.append('--')
    
# Extracting Name
try:
    name_tags =driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name_tags:
        name.append(i.text.split("[")[0])
except NoSuchElementExceptionhElementException:
    name.append('--')
except StaleElementReferenceException:
    name.append('--')

# Extracting Artist
try:
    artist_tags =driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist_tags:
        artist.append(i.text)
except NoSuchElementExceptionhElementException:
    artist.append('--')
except StaleElementReferenceException:
    artist.append('--')
    
# Extracting Upload date 
try:
    upload_date_tags =driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_tags:
        upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    upload_date.append('--')
except StaleElementReferenceException:
    upload_date.append('--')
    
    
# Extracting Views
try:
    views_tags=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_tags :
        views.append(i.text)
except NoSuchElementExceptionhElementException:
    views.append('--')
except StaleElementReferenceException:
    views.append('--')

In [7]:
print(len(rank))
print(len(name))
print(len(artist))
print(len(upload_date))
print(len(views))

30
30
30
30
30

In [8]:
# Creating DataFrame for scrapped data

data_list= list(zip(rank, name,artist, upload_date,views ))

data= pd.DataFrame(data_list, 
    columns =['Rank', 'Name','Artist', 'Upload_date','Views '],
    index=pd.RangeIndex(start=1, stop=31, name='Sr. No.'))

#Print the required data

print ("Details of most viewed videos on YouTube from Wikipedia:\n")
data

Details of most viewed videos on YouTube from Wikipedia:

,Rank,Name,Artist,Upload_date,Views
Sr. No.,,,,,
1,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.62
2,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.00
3,3,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.51
4,4,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.84
5,5,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.69
6,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.68
7,7,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.98
8,8,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.74
9,9,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.70
10,10,"""Gangnam Style""",Psy,"July 15, 2012",4.59
11,11,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.53
12,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.51
13,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.12
14,14,"""Sugar""",Maroon 5,"January 14, 2015",3.78
15,15,"""Roar""",Katy Perry,"September 5, 2013",3.68
16,16,"""Counting Stars""",OneRepublic,"May 31, 2013",3.67
17,17,"""Sorry""",Justin Bieber,"October 22, 2015",3.60
18,18,"""Axel F""",Crazy Frog,"June 16, 2009",3.57
19,18,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.51
20,20,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.41
21,21,"""Dark Horse""",Katy Perry,"February 20, 2014",3.38
22,22,"""Faded""",Alan Walker,"December 3, 2015",3.36
23,23,"""Girls Like You""",Maroon 5,"May 31, 2018",3.34
24,24,"""Let Her Go""",Passenger,"July 25, 2012",3.33
25,25,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.29
26,26,"""Perfect""",Ed Sheeran,"November 9, 2017",3.29
27,27,"""Lean On""",Major Lazer,"March 22, 2015",3.28
28,28,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.28
29,29,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.22
30,30,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.20

# Q2. 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time .

In [10]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.bcci.tv/")
time.sleep(4)

In [11]:
# Opening fixtures

international =driver.find_element(By.XPATH,'//div[@class="collapse navbar-collapse"]/ul/li[2]/a')
try:
    international.click()
except ElementNotInteractableException:
    driver.get(international.get_attribute('href'))

In [12]:
# Creating empty list to store all the scrapped result
title = []
series = []
place = []
date = []
time = []
url=[]

In [13]:
# Extracting title
try:
    title_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in title_tags :
        title.append(i.text)
except StaleElementReferenceException:
    title.append('--')
title

['ICC MENS T20 WORLD CUP 2022',
 'INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23',
 'INDIA TOUR OF BANGLADESH ODI SERIES 2022-23']

In [14]:
# Extracting series
try:
    series_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in series_tags :
        series.append(i.text.split("-")[0])
except StaleElementReferenceException:
    series.append('--')
series

['6th T20I ',
 '1st T20I ',
 '2nd T20I ',
 '3rd T20I ',
 '1st ODI ',
 '2nd ODI ',
 '3rd ODI ',
 '1st ODI ']

In [15]:
# Extracting place
try:
    place_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in place_tags :
        place.append(i.text.replace(','," "))
except StaleElementReferenceException:
    place.append('--')
place

['Adelaide Oval ',
 'Sky Stadium ',
 'Bay Oval ',
 'Mclean Park ',
 'Eden Park ',
 'Seddon Park ',
 'Hagley Oval ',
 'Shere Bangla National Stadium  Mirpur ']

In [16]:
# Extracting date
try:
    date_tags=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in date_tags :
        date.append(i.text)
except StaleElementReferenceException:
    date.append('--')
date

['10 NOV 2022',
 '17 NOV 2022',
 '19 NOV 2022',
 '21 NOV 2022',
 '24 NOV 2022',
 '26 NOV 2022',
 '29 NOV 2022',
 '3 DEC 2022']

In [17]:
# Extracting time
try:
    time_tags=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in time_tags :
        time.append(i.text)
except StaleElementReferenceException:
    time.append('--')
time

['12:00 AM PST',
 '10:30 PM PST',
 '10:30 PM PST',
 '10:30 PM PST',
 '5:30 PM PST',
 '5:30 PM PST',
 '5:30 PM PST',
 '11:00 PM PST']

In [18]:
# Extracting url
url_tags=driver.find_elements(By.XPATH,'//a[@class="match-center-btn ng-scope"]')
for i in url_tags :
    url.append(i.get_attribute('href'))

In [19]:
url

['https://www.bcci.tv/events/87/icc-mens-t20-world-cup-2022/match/717/6th-t20i',
 'https://www.bcci.tv/events/90/india-tour-of-new-zealand-t20-series-2022-23/match/702/1st-t20i',
 'https://www.bcci.tv/events/90/india-tour-of-new-zealand-t20-series-2022-23/match/703/2nd-t20i',
 'https://www.bcci.tv/events/90/india-tour-of-new-zealand-t20-series-2022-23/match/704/3rd-t20i',
 'https://www.bcci.tv/events/91/india-tour-of-new-zealand-odi-series-2022-23/match/705/1st-odi',
 'https://www.bcci.tv/events/91/india-tour-of-new-zealand-odi-series-2022-23/match/706/2nd-odi',
 'https://www.bcci.tv/events/91/india-tour-of-new-zealand-odi-series-2022-23/match/707/3rd-odi',
 'https://www.bcci.tv/events/92/india-tour-of-bangladesh-odi-series-2022-23/match/708/1st-odi']

In [20]:
# Creating DataFrame for scrapped data

data_list= list(zip(title,series,place, date,time,url ))

data= pd.DataFrame(data_list, 
    columns =['Title', 'Series','Place', 'Date','Time ', 'URL'])

#Print the required data

print ("Details team India’s international fixtures from bcci.tv.:\n")
data

Details team India’s international fixtures from bcci.tv.:

,Title,Series,Place,Date,Time,URL
0,ICC MENS T20 WORLD CUP 2022,6th T20I,Adelaide Oval,10 NOV 2022,12:00 AM PST,https://www.bcci.tv/events/87/icc-mens-t20-wor...
1,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,1st T20I,Sky Stadium,17 NOV 2022,10:30 PM PST,https://www.bcci.tv/events/90/india-tour-of-ne...
2,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,2nd T20I,Bay Oval,19 NOV 2022,10:30 PM PST,https://www.bcci.tv/events/90/india-tour-of-ne...
3,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,3rd T20I,Mclean Park,21 NOV 2022,10:30 PM PST,https://www.bcci.tv/events/90/india-tour-of-ne...
4,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,1st ODI,Eden Park,24 NOV 2022,5:30 PM PST,https://www.bcci.tv/events/91/india-tour-of-ne...
5,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,2nd ODI,Seddon Park,26 NOV 2022,5:30 PM PST,https://www.bcci.tv/events/91/india-tour-of-ne...
6,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,3rd ODI,Hagley Oval,29 NOV 2022,5:30 PM PST,https://www.bcci.tv/events/91/india-tour-of-ne...
7,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,1st ODI,Shere Bangla National Stadium Mirpur,3 DEC 2022,11:00 PM PST,https://www.bcci.tv/events/92/india-tour-of-ba...

# Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description

In [27]:

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.guru99.com/")

In [28]:
# Selecting Selenium option

selenium=driver.find_element(By.XPATH,'//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]/a')
try:
    selenium.click()
except ElementNotInteractableException:
    driver.get(selenium.get_attribute('href'))

In [29]:
# Selecting Selenium exception

exceptation =driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
try:
    exceptation.click()
    
except ElementNotInteractableException:
    driver.get(exceptation.get_attribute('href'))

In [30]:
# Creating Empty list to store all the scrapped result
name =[]
description=[]

In [31]:
# Extracting name and description of exception
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
    for i in all_tags:
        all_info.append(i.text.split(":"))
except NoSuchElementException:
    all_info.append('--')
all_info1= all_info[:41]

jj=[]
for i in all_info1:
    for j in i:
        jj.append(j)
        

for i in range(0, len(jj)):
    if i % 2 ==0:
        name.append(jj[i])

for i in range(0, len(jj)):
    if i % 2 ==1:
        description.append(jj[i])

In [32]:
print(len(name))
print(len(description))

41
41

In [33]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,description ))

data= pd.DataFrame(data_list, 
    columns =['Name','Description'],
    index=pd.RangeIndex(start=1, stop=42, name='Sr. No.'))

#Print the required data

print ("Details of selenium exception from guru99.com:\n")
data

Details of selenium exception from guru99.com:

,Name,Description
Sr. No.,,
1,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
2,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
3,3. NoSuchElementException,This Exception occurs if an element could not...
4,4. NoSuchFrameException,This Exception occurs if the frame target to ...
5,5. NoAlertPresentException,This Exception occurs when you switch to no p...
6,6. NoSuchWindowException,This Exception occurs if the window target to...
7,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
8,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
9,9. TimeoutException,Thrown when there is not enough time for a co...
10,10. WebDriverException,This Exception takes place when the WebDriver...
11,11. ConnectionClosedException,This type of Exception takes place when there...
12,12. ElementClickInterceptedException,The command may not be completed as the eleme...
13,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
14,14. ErrorInResponseException,This happens while interacting with the Firef...
15,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
16,16. ImeActivationFailedException,This expectation will occur when IME engine a...
17,17. ImeNotAvailableException,It takes place when IME support is unavailable.
18,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
19,19. InvalidArgumentException,It occurs when an argument does not belong to...
20,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
21,21. InvalidCoordinatesException,This type of Exception matches an interacting...
22,22. InvalidElementStateException,It occurs when command can’t be finished when...
23,23. InvalidSessionIdException,This Exception took place when the given sess...
24,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
25,25. JavascriptException,This issue occurs while executing JavaScript ...
26,26. JsonException,It occurs when you afford to get the session ...
27,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
28,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
29,29. NoSuchContextException,ContextAware does mobile device testing.
30,30. NoSuchCookieException,This Exception occurs when no cookie matching...
31,31. NotFoundException,This Exception is a subclass of WebDriverExce...
32,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
33,33. ScreenshotException,It is not possible to capture a screen.
34,34. SessionNotCreatedException,It happens when a new session could not be su...
35,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
36,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
37,37. UnhandledAlertException,This expectation occurs when there is an aler...
38,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
39,39. UnknownMethodException,This Exception happens when the requested com...
40,40. UnreachableBrowserException,This Exception occurs only when the browser i...
41,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(19-20) D) GSDP (18-19) E) Share (18-19) F) GDP (billion)

In [35]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("http://statisticstimes.com/")

In [36]:
# Clicking on ecomony tab

India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/button')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))

In [37]:
# Clicking on India from economy tab
state = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
driver.get(state.get_attribute('href'))

In [38]:
# Clicking on GDP of Indian state

state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(state.get_attribute('href'))

In [39]:
# Creating empty lists to store all the scrapped result
rank =[]
state =[]
gsdp_19_20=[]
gsdp_18_19 =[]
share_18_19 =[]
GDP =[]

In [40]:
# Extracting Rank 
try:
    rank_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank_tags :
        rank.append(i.text)
except NoSuchElementException:
    rank.append('NA')
    
# Extracting state name
try:
    state_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state_tags:
        state.append(i.text)
except NoSuchElementException:
    state.append('NA')
    
# Extracting GDSP 19-20
try:
    gsdp_19_20_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_19_20_tags:
        gsdp_19_20.append(i.text)
except NoSuchElementException:
    gsdp_19_20.append('NA')
    
# Extracting GDSP 18-19
try:
    gsdp_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_18_19_tags:
        gsdp_18_19.append(i.text)
except NoSuchElementException:
    gsdp_18_19.append('NA')
    
# Extracting Share 18_19
try:
    share_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share_18_19_tags:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append('NA')
    
# Extracting GDP
try:
    GDP_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in GDP_tags:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [41]:
print(len(rank))
print(len(state))
print(len(gsdp_19_20))
print(len(gsdp_18_19))
print(len(share_18_19))
print(len(GDP))

33
33
33
33
33
33

In [42]:
# Creating DataFrame for scrapped data

data_list= list(zip(rank, state,gsdp_19_20, gsdp_18_19,share_18_19 , GDP))

data= pd.DataFrame(data_list, 
    columns =['Rank', 'State', 'GSDP_19_20','GSDP_18_19','Share_18_19' , 'GDP'],
                index=pd.RangeIndex(start=1, stop=34, name='Sr. No.'))

#Print the required data

print ("Details of State-wise GDP of India from statisticstime.com:\n")
data

Details of State-wise GDP of India from statisticstime.com:

,Rank,State,GSDP_19_20,GSDP_18_19,Share_18_19,GDP
Sr. No.,,,,,,
1,1,Maharashtra,-,"2,632,792",13.94%,399.921
2,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,4,Gujarat,-,"1,502,899",7.96%,228.290
5,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,9,Telangana,"969,604","861,031",4.56%,130.791
10,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,11,Kerala,-,"781,653",4.14%,118.733
12,12,Delhi,"856,112","774,870",4.10%,117.703
13,13,Haryana,"831,610","734,163",3.89%,111.519
14,14,Bihar,"611,804","530,363",2.81%,80.562
15,15,Punjab,"574,760","526,376",2.79%,79.957
16,16,Odisha,"521,275","487,805",2.58%,74.098
17,17,Assam,-,"315,881",1.67%,47.982
18,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,19,Jharkhand,"328,598","297,204",1.57%,45.145
20,20,Uttarakhand,-,"245,895",1.30%,37.351
21,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,23,Goa,"80,449","73,170",0.39%,11.115
24,24,Tripura,"55,984","49,845",0.26%,7.571
25,25,Chandigarh,-,"42,114",0.22%,6.397
26,26,Puducherry,"38,253","34,433",0.18%,5.230
27,27,Meghalaya,"36,572","33,481",0.18%,5.086
28,28,Sikkim,"32,496","28,723",0.15%,4.363
29,29,Manipur,"31,790","27,870",0.15%,4.233
30,30,Nagaland,-,"27,283",0.14%,4.144
31,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,32,Mizoram,"26,503","22,287",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-

# Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/You have to find the following details:A) Repository title B) Repository description C) Contributors count D) Language used

In [43]:
import time
import requests
from time import sleep

In [45]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://github.com/You")
time.sleep(2)

In [46]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
driver.get(button.get_attribute('href'))
time.sleep(2)

In [47]:
# Creating Empty list for Scraping Data
title=[]
description=[]
count =[]
language =[]
url=[]

In [48]:
# Extracting Share 18_19
try:
    title_tags =driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tags:
        title.append(i.text)
except NoSuchElementException:
    title.append('NA')

In [49]:
len(title)

25

In [50]:
# Extracting URL

try:
    url_tags =driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
    for i in url_tags:
        url.append(i.get_attribute("href"))
except NoSuchElementException:
    url.append('NA')
len(url)

25

In [51]:
for i in url:
    driver.get(i)
    time.sleep(1)
    
    try:
        description_tags=driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        description.append(description_tags.text)
    except NoSuchElementException:
        description.append('NA')

In [52]:
len(description)

25

In [53]:
for i in url:
    driver.get(i)
    time.sleep(1)
    
    try:
        count_tags=driver.find_element(By.XPATH, "//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        count.append(count_tags.text)
    except NoSuchElementException:
        count.append('NA')

In [54]:
len(count)

25

In [55]:
for i in url:
    driver.get(i)
    time.sleep(1)

    # Scraping Language
    L =[]
    try:
        language_tag =driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if language_tag:
            for j in language_tag:
                L.append(j.text)
        else:
            L.append('NA')
        language.append(L)
    except NoSuchElementException:
        language.append('NA')
        time.sleep(10)

In [56]:
len(language)

25

In [57]:
# Creating DataFrame for scrapped data

data_list= list(zip(title,description,count,language,url ))

data= pd.DataFrame(data_list, 
    columns =['Title', 'Description', 'Count','Language','URL'],
                  index=pd.RangeIndex(start=1, stop=26, name='Sr. No.'))

#Print the required data

print ("Detail of trending Repository on Github.com:\n")
data

Detail of trending Repository on Github.com:

,Title,Description,Count,Language,URL
Sr. No.,,,,,
1,stashapp / stash,"An organizer for your porn, written in Go",117,"[Go, TypeScript, SCSS, Makefile, Python, Shell]",https://github.com/stashapp/stash
2,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",695,"[Ruby, JavaScript, SCSS, Haml, HTML, Dockerfile]",https://github.com/mastodon/mastodon
3,geohot / tinygrad,You like pytorch? You like micrograd? You love...,68,"[Python, Verilog, C, Objective-C++, C++, Shell]",https://github.com/geohot/tinygrad
4,microsoft / PowerToys,Windows system utilities to maximize productivity,316,"[C#, C++, C, PowerShell, HTML, HLSL]",https://github.com/microsoft/PowerToys
5,alibaba / higress,Next-generation Cloud Native Gateway,8,"[C++, Go, C, Starlark, Shell, Makefile, Smarty]",https://github.com/alibaba/higress
6,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,206,"[Java, C++, HTML, C, Python, Shell]",https://github.com/NationalSecurityAgency/ghidra
7,jwasham / coding-interview-university,A complete computer science study plan to beco...,278,[NA],https://github.com/jwasham/coding-interview-un...
8,huggingface / diffusion-models-class,Materials for the Hugging Face Diffusion Model...,2,[NA],https://github.com/huggingface/diffusion-model...
9,tiangolo / typer,"Typer, build great CLIs. Easy to code. Based o...",31,"[Python, Shell]",https://github.com/tiangolo/typer
10,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,51,"[Rust, TypeScript, Java, JavaScript, SCSS, CSS]",https://github.com/spacedriveapp/spacedrive
11,Netflix / conductor,Conductor is a microservices orchestration eng...,202,"[Java, Groovy, JavaScript, TypeScript, Dockerf...",https://github.com/Netflix/conductor
12,Budibase / budibase,"Low code platform for creating internal tools,...",71,"[JavaScript, Svelte, TypeScript, Shell, Handle...",https://github.com/Budibase/budibase
13,LSPosed / MagiskOnWSALocal,NA,13,"[Shell, Python]",https://github.com/LSPosed/MagiskOnWSALocal
14,mdn / content,The content behind MDN Web Docs,"2,814",[Markdown],https://github.com/mdn/content
15,rocketseat-education / nlw-copa-ignite,Projeto desenvolvido durante a Next Level Week...,2,"[TypeScript, JavaScript]",https://github.com/rocketseat-education/nlw-co...
16,pi-hole / pi-hole,A black hole for Internet advertisements,211,"[Shell, Python, Roff]",https://github.com/pi-hole/pi-hole
17,halfrost / LeetCode-Go,"✅ Solutions to LeetCode by Go, 100% test cover...",42,"[Go, HTML, SCSS, CSS, JavaScript, Python]",https://github.com/halfrost/LeetCode-Go
18,Ehviewer-Overhauled / Ehviewer,EhViewer overhauled with Material Design 3 and...,37,"[Java, Kotlin, C, CMake]",https://github.com/Ehviewer-Overhauled/Ehviewer
19,microsoft / winget-cli,Windows Package Manager CLI (aka winget),80,"[C++, C, C#, Assembly, PowerShell, Ada]",https://github.com/microsoft/winget-cli
20,commaai / openpilot,openpilot is an open source driver assistance ...,364,"[Python, C++, C, Cython, MATLAB, Shell]",https://github.com/commaai/openpilot
21,lidangzzz / How-to-run,立党老师的润学（零基础转码/移民/留学/海外创业/永居）笔记,NA,"[TypeScript, Solidity]",https://github.com/lidangzzz/How-to-run
22,home-assistant / core,🏡 Open source home automation that puts local ...,"2,984",[Python],https://github.com/home-assistant/core
23,pygame / pygame,🐍🎮 pygame (the library) is a Free and Open Sou...,238,"[C, Python, Cython, Shell, Objective-C, Makefile]",https://github.com/pygame/pygame
24,pi-hole / docker-pi-hole,Pi-hole in a docker container,121,"[Shell, Python, Dockerfile]",https://github.com/pi-hole/docker-pi-hole
25,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...",28,[Rust],https://github.com/surrealdb/surrealdb

# Q 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [60]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get(" https:/www.billboard.com/")
time.sleep(2)

In [61]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
driver.get(button.get_attribute('href'))
time.sleep(2)

In [62]:
# Clicking on hot100 tab

hot100 =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
driver.get(hot100.get_attribute('href'))
time.sleep(2)

In [63]:
# Creating Empty List for scrapped datas

name =[]
artist =[]
rank=[]
peak_rank =[]
weeks =[]
all_info=[]

In [64]:
# Scraping Song Name
try:
    song_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in song_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/span')
    for i in all_tags:
        all_info.append(i.text)
except NoSuchElementException:
    all_info.append('NA')

In [65]:
# Scraping artist
artist= all_info[0:401:4]

# Scraping rank
rank= all_info[1:401:4]

# Scraping rank
peak_rank= all_info[2:401:4]

# Scraping weeks
weeks= all_info[3:401:4]

In [66]:
len(artist)

100

In [67]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,artist,rank,peak_rank,weeks ))

data= pd.DataFrame(data_list, 
    columns =['Song_name', 'Artist_name', 'Last_week_rank','Peak_rank','Weeks on board'],
                  index=pd.RangeIndex(start=1, stop=101, name='This_week_rank'))

#Print the required data

print ("Details of the top 100 songs on Billiboard.com.:\n")
data

Details of the top 100 songs on Billiboard.com.:

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks on board
This_week_rank,,,,,
1,Anti-Hero,Taylor Swift,-,1,1
2,Lavender Haze,Taylor Swift,-,2,1
3,Maroon,Taylor Swift,-,3,1
4,Snow On The Beach,Taylor Swift Featuring Lana Del Rey,-,4,1
5,Midnight Rain,Taylor Swift,-,5,1
...,...,...,...,...,...
96,Dark Red,Steve Lacy,-,78,5
97,From Now On,Lil Baby Featuring Future,42,42,2
98,Forget Me,Lewis Capaldi,99,95,4
99,Miss You,Oliver Tree & Robin Schulz,-,99,1
100,Despecha,Rosalia,92,63,12

# Q7.Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/. You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location

In [69]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.naukri.com/data-science-recruiters")

In [70]:
# Creating Empty List for scrapped datas
name=[] 
designation=[] 
company=[] 
skills=[]
url=[]

In [71]:
# Scraping name
try:
    name_tags =driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping designation
try:
    des_tags =driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in des_tags:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('NA')


# Scraping company
comp=[]
try:
    com_tags =driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
    for i in com_tags:
        comp.append(i.text)
except NoSuchElementException:
    comp.append('NA')
    
for i in range(0, len(comp)):
    if i %2==1:
        company.append(comp[i])
        
        
# Scraping skills
try:
    skills_tags =driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skills_tags:
        skills.append(i.text)
except NoSuchElementException:
    skills.append('NA')
    
    
# Scraping url
try:
    url_tags =driver.find_elements(By.XPATH,'//div[@class="recImg mid_pImg_Silht"]/a')
    for i in url_tags:
        url.append(i.get_attribute("href"))
except NoSuchElementException:
    url.append('NA')

In [72]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,designation,company,skills,url))

data= pd.DataFrame(data_list, 
    columns =['Name', 'Designation', 'Company','Skills','URL'],
                  index=pd.RangeIndex(start=1, stop=51, name='Sr No'))

#Print the required data

print ("Details of Data science recruiters from naukri.com:\n")
data

Details of Data science recruiters from naukri.com:

,Name,Designation,Company,Skills,URL
Sr No,,,,,
1,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",https://www.naukri.com/recruiters/aakashharit-...
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",https://www.naukri.com/recruiters/shravankumar...
3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",https://www.naukri.com/recruiters/marsiantech?...
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",https://www.naukri.com/recruiters/anikagrawal-...
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",https://www.naukri.com/recruiters/LXP-DATASCIE...
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",https://www.naukri.com/recruiters/abhishekyada...
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,https://www.naukri.com/recruiters/menakav-3213...
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",https://www.naukri.com/recruiters/techvantage?...
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",https://www.naukri.com/recruiters/asiflucknowi...
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",https://www.naukri.com/recruiters/instafinanci...
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",https://www.naukri.com/recruiters/kalpana-2078...
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",https://www.naukri.com/recruiters/mubarak-2905...
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",https://www.naukri.com/recruiters/quantmagnum?...
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",https://www.naukri.com/recruiters/maheshbabuch...
15,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",https://www.naukri.com/recruiters/vaishnavikud...
16,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",https://www.naukri.com/recruiters/priyankaakir...
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",https://www.naukri.com/recruiters/kapildevang-...
18,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",https://www.naukri.com/recruiters/sakshichhika...
19,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",https://www.naukri.com/recruiters/ruchidhote?x...
20,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",https://www.naukri.com/recruiters/manishayadav...
21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,https://www.naukri.com/recruiters/riyarajesh-4...
22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",https://www.naukri.com/recruiters/rashmibhatta...
23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",https://www.naukri.com/recruiters/faizankareem...
24,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",https://www.naukri.com/recruiters/rithikadadwa...
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",https://www.naukri.com/recruiters/ankitshah-21...
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",https://www.naukri.com/recruiters/shaunrao-302...
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",https://www.naukri.com/recruiters/azaharshaikh...
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",https://www.naukri.com/recruiters/manas-315903...
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",https://www.naukri.com/recruiters/kumar-337889...
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",https://www.naukri.com/recruiters/sunilvedula-...
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",https://www.naukri.com/recruiters/rajatkumar-3...
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",https://www.naukri.com/recruiters/dhruvdevdube...
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",https://www.naukri.com/recruiters/jayanthn-308...
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",https://www.naukri.com/recruiters/nikithapalap...
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",https://www.naukri.com/recruiters/priyakhare-4...
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",https://www.naukri.com/recruiters/amitsharma-4...
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",https://www.naukri.com/recruiters/deepali002g?...
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",https://www.naukri.com/recruiters/shashikantch...
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",https://www.naukri.com/recruiters/brad-4068508...
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",https://www.naukri.com/recruiters/rutujapawar?...
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",https://www.naukri.com/recruiters/madhusudhans...
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",https://www.naukri.com/recruiters/ankitsinha-3...
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",https://www.naukri.com/recruiters/gauravchouha...
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",https://www.naukri.com/recruiters/impel?xid=16...
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",https://www.naukri.com/recruiters/ashwini-3434...
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",https://www.naukri.com/recruiters/balajikolli-...
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",https://www.naukri.com/recruiters/rajaninagara...
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",https://www.naukri.com/recruiters/rohitkumar-3...
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",https://www.naukri.com/recruiters/amirchowdhur...
50,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",https://www.naukri.com/recruiters/sreedhar-382...

# Q8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey%02compare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [74]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("  https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
time.sleep(2)

In [75]:
# Creating Empty Lists for scrapped data

book =[]
author =[]
volumes_sold =[]
publisher =[]
genre =[]

In [76]:
# Scraping Book name
try:
    book_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book_tags:
        book.append(i.text)
except NoSuchElementException:
    book.append('NA')

In [77]:
len(book)

100

In [78]:
# Scraping Book author's
try:
    author_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tags:
        author.append(i.text)
except NoSuchElementException:
    author.append('NA')
    

# Scraping Volumes sold
try:
    volumes_sold_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volumes_sold_tags :
        volumes_sold.append(i.text)
except NoSuchElementException:
    volumes_sold.append('NA')
    
    
# Scraping publisher
try:
    publisher_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher_tags :
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('NA')
    
    
# Scraping genre
try:
    genre_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tags :
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')

In [79]:
# Creating DataFrame for scrapped data

data_list= list(zip(book,author,volumes_sold,publisher,genre ))

data= pd.DataFrame(data_list, 
    columns =['Book', 'Book_ Author', 'Volumes_Sold','Publisher','Genre'],
                  index=pd.RangeIndex(start=1, stop=101, name='Rank'))

#Print the required data

print ("Details of the Highest Selling Novels.:\n")
data

Details of the Highest Selling Novels.:

,Book,Book_ Author,Volumes_Sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [80]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get(" https://www.imdb.com/list/ls095964455/")

In [81]:
# Creating Empty List for scrapped data

name =[]
year=[]
genre =[]
run_time =[]
ratings =[]
votes =[]

In [82]:
# Scraping Name 
try:
    name_tags =driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping Year span
try:
    year_tags =driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year_tags :
        year.append(i.text)
except NoSuchElementException:
    year.append('NA')
    
# Scraping Genre via Xpath
try:
    genre_tags =driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre_tags :
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')
    
# Scraping Run Time 
try:
    run_time_tags =driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in run_time_tags :
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('NA')
    
# Scraping Ratings
try:
    ratings_tags =driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings_tags :
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('NA')

# Scraping Votes
try:
    votes_tags =driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes_tags :
        votes.append(i.text)
except NoSuchElementException:
    votes.append('NA')

In [83]:
print(len(name))
print(len(genre))
print(len(year))
print(len(run_time))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [84]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,year,genre,run_time,ratings,votes ))

data= pd.DataFrame(data_list, 
    columns =['Name','Year span','Genre', 'Run_Time','Ratings','Votes'],
                  index=pd.RangeIndex(start=1, stop=101, name='Rank'))

#Print the required data

print ("Details of most watched tv series of all time from imdb.com. :\n")
data

Details of most watched tv series of all time from imdb.com. :

,Name,Year span,Genre,Run_Time,Ratings,Votes
Rank,,,,,,
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,078,374"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,168,636"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"979,338"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,524"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,586"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.4,"49,969"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,097"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,602"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,422"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"242,760"

# Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [85]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get(" https://archive.ics.uci.edu/ ")

In [86]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,"//a[@href='datasets.php']")
dataset.click()

In [87]:
# Creating empty lists for scrapped data

name =[]
dtype =[]
task =[]
attribute_type =[]
no_of_instances =[]
no_of_Attri=[]
year=[]

In [88]:
# Scraping DataSet Name

try:
    name_tags =driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping Data Type
try:
    dtype_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in dtype_tags[1:]:
        dtype.append(i.text)
except NoSuchElementException:
    dtype.append('NA')
    
# Scraping Task
try:
    task_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task_tags [1:]:
        task.append(i.text)
except NoSuchElementException:
    task.append('NA')
    
# Scraping Attribute_Type
try:
    attribute_type_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_type_tags[1:]:
        attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append('NA')
    
# Scraping No_of_Instances
try:
    no_of_instances_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_instances_tags [1:]:
        no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append('NA')

# Scraping No_of_Attribute
try:
    no_of_Attri_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attri_tags [1:]:
        no_of_Attri.append(i.text)
except NoSuchElementException:
    no_of_Attri.append('NA')
    
# Scraping Year
try:
    year_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year_tags[1:]:
        year.append(i.text)
except NoSuchElementException:
    year.append('NA')

In [89]:
print(len(name))
print(len(dtype))

622
622

In [90]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,dtype,task,attribute_type,no_of_instances,no_of_Attri,year))

data= pd.DataFrame(data_list, 
    columns =['Name','Data Type','Task', 'Attribute_Type','No_of_Instances','No_of_Attribute','Year'],
                  index=pd.RangeIndex(start=1, stop=623, name='Sr No'))

#Print the required data

print ("Details of the Datasets from UCI machine learning repositories :\n")
data

Details of the Datasets from UCI machine learning repositories :

,Name,Data Type,Task,Attribute_Type,No_of_Instances,No_of_Attribute,Year
Sr No,,,,,,,
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# Thank You